* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: gray;
}

/* Header */

header {
  background: powderblue;
}

/* Main */

main {
  background-color: gray;
}

/* Gallery */

.gallery {
  display: flex;
  flex-flow: row wrap;
}

.card {
  background-color: maroon;
  width: 200px;
  height: 200px;
  margin: 20px;
}
