* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #F0EBE9;
}

h2 {
  font-size: 2.25em;
}

/* Header */

header {
  display: grid;
  grid-template: 1fr 2fr / 40% 45% 15%;
  height: 100px;
  background: #0D0D0D;
}

header, .nav-link {
  color: #F0EBE9;
}

nav {
  grid-area: 2 / 1;
  display: flex;
  justify-content: center;
}

.nav-icon {
  margin: 15px 0 25px 10px;
  width: 30px;
  height: 30px;
}

.nav-link {
  margin: auto;
  margin-bottom: 25px;
  text-decoration: none;
  font-size: 1.1em;
}

#login {
  grid-area: 1 / 3;
  margin: auto;
}

.logo-area {
  grid-area: 2 / 3;
  display: flex;
  margin: auto;
}

#pinit-logo {
  height: 35px;
  width: 35px;
  align-self: center;
}


/* Main */

main {
  display: grid;
  grid-template-columns: 1fr 98% 1fr;
}

.banner {
  display: flex;
  grid-column: 2;
  margin: 40px 20px 10px 1%;
}

/* Gallery */

.gallery {
  grid-column: 2;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

/*  Card Styling  */

.card {
  display: grid;
  grid-template: 35% 1fr;
  background-color: #FFFAF7;
  width: 250px;
  height: 375px;
  margin: 1%;
  box-shadow: 0 2px 2px 1px #D4D0CD;
}

.card-image {
  grid-area: 1;
  display: grid;
  grid-template: 2fr 1fr / 30% 1fr 25%;
  width: auto;
  height: auto;
  background-color: orange;
}

.card-image-button {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: white;
  margin: 10px;
}

.card-image-icon {
  align-self: center;
  width: 30px;
  height: 30px;
}

.card-image-caption {
  grid-area: 1 / 3;
  align-self: flex-start;
  margin: auto;
}

.card-text-container {
  display: grid;
  grid-template-rows: repeat(3, 23%) 1fr;
}

section[class*="card-text-"] > p {
  margin-left: 10px;
}

.text-top-spacing {
  margin-top: 10px;
}

.card-text-1 {
  grid-area: 1;
}

.card-text-2 {
  grid-area: 2;
  display: flex;
  align-items: center;
}

.card-text-2-container {
  display: flex;
  align-items: center;
  width: 224px;
  height: 40px;
  background: #EBE6E4;
  margin: auto;
}

.card-text-2-container > a {
  margin-left: 5px;
  font-size: .75em;
}

.card-text-3 {
  grid-area: 3;
}

.card-text-4 {
  grid-area: 4;
}

.card-subheading {
  font-size: .7em
}

.card-bottom-info {
  margin-top: 5px;
}

.card-text-accent {
  color: powderblue;
  font-size: 2em;
}

/* Media Queries */

@media only screen and (max-width: 815px) {
  header {
    grid-template: 1fr 2fr / 50% 20% 30%;
  }
}

@media only screen and (max-width: 531px) {
  header {
    grid-template-rows: 15% 2fr 1fr;
    grid-template-columns: none;
    height: 15vh;
  }

  nav {
    grid-area: 3;
    align-content: space-between;
  }

  #login {
    grid-area: 1;
  }

  .logo-area {
    grid-area: 2;
  }

  .banner {
    justify-content: center;
  }

  .gallery {
    justify-content: center;
  }

  .card {
    margin-bottom: 2%
  }
}
