* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: gray;
}

/* Header */

header {
  display: flex;
  width: 100%;
  padding: 50px;
  background: powderblue;
  border: 1px solid red;
}

/* Main */

main {
  background-color: gray;
}

.banner {
  margin: 40px 20px 10px 20px;
}

/* Gallery */

.gallery {
  display: flex;
  flex-flow: row wrap;
}

.card {
  background-color: maroon;
  width: 200px;
  height: 200px;
  margin: 20px;
}
